<div
  class="container d-flex justify-content-center align-items-center w-100"
>
<div class="row">
  <div class="col-md-12 w-100 ">

  <!-- Card -->
  <div class="card shadow-lg border-0 rounded-4  " >
    <div class="card-header  d-flex justify-content-center">
      <img src="assets/img4.jpg" class="w-100  " alt="" />
    </div>
    <div class="card-body p-4">
          <!-- Share Link -->
     @if (showShareLink) {
<div
  class="link d-flex align-items-center  bg-light rounded-3 p-2 mb-3"
>
  <input
    type="text"
    class="form-control border-0 bg-transparent small"
    [value]="shareLink"
    readonly
  />

  <button
    type="button"
    class="btn btn-outline-secondary btn-sm d-flex align-items-center gap-1"
    (click)="copyLink()"
  >
    <i class="bi bi-clipboard"></i>
    {{'COPY'|translate}}
  </button>
</div>
}
      <!-- Title -->
      <h4 class="text-center fw-bold mb-2">{{'SEND_ANONYMOUS_MESSAGE' |translate}}</h4>
      <p class="text-center text-white-50 mb-4">
      {{'IDENTITY_HIDDEN' |translate}}
      </p>

      <!-- Form -->
      <form [formGroup]="send" (ngSubmit)="submit()">
        <!-- Message -->
        <div class="mb-3">
          <textarea
            class="form-control form-control-lg rounded-3 border-0"
            rows="3"
            placeholder="Write your message here..."
            formControlName="content"
          ></textarea>
          @if (this.send.get('content')?.errors &&
          this.send.get('content')?.touched ){
          <!-- Validation -->
          <div class="text-danger mt-1">
            @if (this.send.get('content')?.errors?.['required']) {
            <p> {{'MESSAGE_REQUIRED' |translate}}</p>
            } @if (this.send.get('content')?.errors?.['minlength']) {
            <p>{{'MESSAGE_MINLENGTH' |translate}}</p>
            }
          </div>
          }
          <!-- Counter -->
          <div class="text-end small text-muted mt-1"></div>
        </div>

        <!-- Submit -->
        <button
          type="submit"
          class="btn btn-primary w-100 py-2 rounded-3 fw-semibold d-flex justify-content-center align-items-center gap-2"
          [disabled]="isLoading || send.invalid"
        >
          @if (!isLoading) {
          <span>{{'SEND_MESSAGE' |translate}}</span>
          } @else {
          <span class="spinner-border spinner-border-sm"></span>
          <span>{{'SENDING' |translate}}</span>
          }
        </button>

        <!-- Success -->
        @if (successMessage) {
        <div class="alert alert-success mt-3 text-center">
          {{ successMessage }}
        </div>
        }
        <!-- Error -->
        @if (errMessage) {
        <div class="alert alert-danger mt-3 text-center">
          {{ errMessage }}
        </div>
        }
      </form>
    </div>
  </div>

</div>

</div>

</div>
