<div class="parent main w-100 overflow-hidden">
  <div class="container w-100 m-0 mx-auto pt-4 mb-4">
    <p class="text-danger text-center">{{ errMessage }}</p>
    <div class="row">
      <div
        class="col-md-12 d-flex flex-column justify-content-center align-items-center mx-auto"
      >
        <h2>Zill <i class="bi bi-question-diamond"></i></h2>
        <form
          [formGroup]="forgetPassForm"
          (ngSubmit)="submit()"
          class="d-flex flex-column justify-content-center p-4 w-75 mx-auto rounded-3 mb-5"
        >
          <h4>Forget Password</h4>

          <p class="text-white">
            check your email <i class="bi bi-envelope-check"></i>
          </p>
          <div class="form-floating mb-3 w-100">
            <input
              type="email"
              class="form-control bg-transparent border-0"
              id="floatingInput"
              placeholder="name@example.com"
              formControlName="email"
            />
            <label for="floatingInput" class="text-white-50"
              >Email Address</label
            >
          </div>
          @if ( this.forgetPassForm.get('email')?.errors &&
          this.forgetPassForm.get('email')?.touched){
          <div
            class="rounded-2 d-flex align-items-center bg-white mb-2 p-0 px-2 m-0 border-danger border-2 text-danger"
          >
            @if(this.forgetPassForm.get('email')?.errors?.['required']) {
            <p class="m-0">Email is required</p>
            } @if(this.forgetPassForm.get('email')?.errors?.['email']) {
            <p class="m-0">Enter avalid Email</p>
            }
          </div>
          }

          <div class="form-floating mb-3 w-100">
            <input
              type="text"
              class="form-control bg-transparent border-0"
              id="floatingInput"
              placeholder="name@example.com"
              formControlName="otp"
            />
            <label for="floatingInput" class="text-white-50">Otp</label>
          </div>
          @if ( this.forgetPassForm.get('otp')?.errors &&
          this.forgetPassForm.get('otp')?.touched){
          <div
            class="rounded-2 d-flex align-items-center bg-white mb-2 p-0 px-2 m-0 border-danger border-2 text-danger"
          >
            @if(this.forgetPassForm.get('otp')?.errors?.['required']) {
            <p class="m-0">otp is required</p>
            } @if(this.forgetPassForm.get('otp')?.errors?.['minlength'] &&
            this.forgetPassForm.get('otp')?.errors?.['maxlength']) {
            <p class="m-0">Enter avalid otp</p>
            }
          </div>

          }

                 <!-- New Password -->
          <div class="form-floating mb-3 w-100">
            <input
              type="password"
              class="form-control bg-transparent border-0"
              id="newPassword"
              placeholder="New Password"
              formControlName="newPassword"
            />
            <label for="newPassword" class="text-white-50">
              New Password
            </label>
          </div>

          @if ( forgetPassForm.get('newPassword')?.errors &&
          forgetPassForm.get('newPassword')?.touched ) {
          <div
            class="rounded-2 d-flex align-items-center bg-white mb-2 p-0 px-2 m-0 border-danger border-2 text-danger"
          >
            @if (forgetPassForm.get('newPassword')?.errors?.['required']) {
            <p class="m-0">Password is required</p>
            } @if (forgetPassForm.get('newPassword')?.errors?.['pattern']) {
            <p class="m-0">
              Password must be at least 8 characters and include letters and
              numbers
            </p>
            }
          </div>
          }

          <div
            class="d-flex justify-content-between align-items-center w-100 mt-2"
          >
            <button type="submit" class="btn btn-outline-success w-50 me-2">
              Submit
            </button>
            <a routerLink="/send-otp" class="text-decoration-none">Send Otp Again</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

