.navbar{
    background-color: var(--back-color) !important;
    width: 85%;
    .nav-link{
        color: var(--main-color) !important;
        font-family: var(--font-body);
        font-weight: 600;
    font-style:oblique;

    }
    .navbar-toggler{
    background-color: var(--main-color) !important;

}
    .navbar-brand{
        color: var(--main-color) !important;
        font-family: var(--font-heading);
        font-weight: 600;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.logout{
  cursor: pointer;
}

}
.neon-navbar {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  overflow: hidden;
}

.neon-navbar::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    transparent,
    var(--neon-color),
    transparent
  );

 
  animation: neon-move 15s linear infinite;

  z-index: -1;
  filter: blur(6px);
}


@keyframes neon-move {

  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }


  20% {
    transform: translateX(100%);
    opacity: 1;
  }

  
  25% {
    opacity: 0;
  }


  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
