<div class="container mt-5 d-flex justify-content-center align-items-center">
  <div class="row mt-5">
    @for (message of messages; track $index) {
    <div class="col-md-12 mt-4">
      <div class="card mb-3 w-75 mx-auto p-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/img4.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ID: {{message._id}}</h5>
              <p class="card-text">
              {{message.content}}
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >{{message.createdAt}}</small
                >
              </p>
              <p class="text-end "><i class="bi bi-chat-quote fs-3"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
