<div class="setting m-0 w-100 start-0">
  <div class="container-fluid m-0 w-100">
    <div class="row m-0">
      <div class="col-md-4 m-0 start-0">
        <ul class="d-flex flex-column justify-content-center">
          <li>
            <a routerLink="update-password"><i class="bi bi-key-fill"></i> Passwords </a>
          </li>
          <li>
            <a  routerLink="language"><i class="bi bi-globe-europe-africa"></i> Language </a>
          </li>
        </ul>
      </div>
      <div class="col-md-8 m-0 end-0">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
