

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="video d-flex flex-column justify-content-center text-center">
        <p>Acknowledge what's inside you</p>
        <video src="assets/4k A Man Walking Alone In Sunset Background Video __ No Copyright __ No Watermark.mp4" class="w-75 mx-auto  " autoplay loop></video>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 d-flex justify-content-center align-items-center">
  <div class="row mt-5">
    <div class="col-md-12 mt-4">
      <div class="card mb-3 w-75 mx-auto p-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/img4.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{'ITS_SECRET'|translate}}</h5>
              <p class="card-text">
                Some thoughts are easier to share when no one knows your name.
                Here, your words speak for you — anonymously.
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="row text-center">
    <p class="mt-5">
      Speak your mind without fear or judgment. Your identity stays hidden, but
      your voice is heard.
    </p>
    <div class="col-md-6">
      <div
        id="carouselExampleFade"
        class="carousel slide carousel-fade w-75 mx-auto"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/img1.jpg"
              class="d-block rounded-3 h-25 w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/img2.jpg"
              class="d-block rounded-3 w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/img3.jpg"
              class="d-block rounded-3 w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-6 mt-5">
      <p class="d-inline-flex gap-1">
        <a
          class="btn btn-primary me-3"
          data-bs-toggle="collapse"
          href="#multiCollapseExample1"
          role="button"
          aria-expanded="false"
          aria-controls="multiCollapseExample1"
          >1</a
        >
        <button
          class="btn btn-primary me-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#multiCollapseExample2"
          aria-expanded="false"
          aria-controls="multiCollapseExample2"
        >
          2
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target=".multi-collapse"
          aria-expanded="false"
          aria-controls="multiCollapseExample1 multiCollapseExample2"
        >
          3
        </button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              Some thoughts are easier to share when no one knows your name.
              Here, your words speak for you — anonymously.
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              Some thoughts are easier to share when no one knows your name.
              Here, your words speak for you — anonymously.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
