p{
    color: var(--main-color) !important;
    font-family: var(--font-body);
    font-weight: 600;
    font-style:oblique;

}
.btn-primary{
    background-color: var(--main-color) !important;
    border: none !important;
}

.card-body{
    color:  rgba(255, 255, 255, 0.553) !important ;
    font-family: var(--font-body);

}
video{
    box-shadow: #00D150 21px 14px 0px -7px;
}