p{
    color: var(--main-color) !important;
    font-family: var(--font-body);
    font-weight: 600;
    font-style:oblique;

}
.btn-primary{
    background-color: var(--main-color) !important;
    border: none !important;
}