.container {
    background-color: var(--back-color) !important;
    box-shadow: #00D150 21px 14px 0px -7px;
    height: 60vh;
}

.profile-image-wrapper {
  width: 150px;
  height: 150px;
  position: relative;
}

.profile-image-wrapper img {
  width: 100%;
  height: 100%;
  border: 3px solid #0d6efd; 
}

.profile-image-wrapper label {
  cursor: pointer;
}
