
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// variables

:root {
  --main-bg: #0C0C0C;
  --main-color: #00D14F;
  --back-color: #020609 !important;
--form-color: #333333;
;
    --font-heading:"Ubuntu", sans-serif;
  --font-body: "Cairo", sans-serif;
  --card-text: #ffffffc4;
  --card-footer-bg: #292929;
  
}
