
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// variables

:root {
  --main-bg: #0C0C0C;
  --main-color: #00D14F;
  --back-color: #020609 !important;
  --form-color: #333333;
  --neon-color: #7cff00;

  --font-heading:"Ubuntu", sans-serif;
  --font-body: "Cairo", sans-serif;
  --card-text: #ffffffc4;
  --card-footer-bg: #292929;
  
}
body{
    background-color:rgb(21, 21, 21) !important;
}
.parent{
    height: 130vh;
background-color: var(--back-color) !important;
    form{
background-color:var(--form-color) ;
box-shadow: #00D150 21px 14px 0px -7px;
.form-control{
    background-color: #0206099d !important;
    color: white !important;
}
label{
     color: #77818a !important;
}
a{
    color: var(--main-color) !important;
}
    }
}
h4,h2{
     font-family: var(--font-heading);
  font-weight: 700;
  font-style: normal;
  color:   var(--main-color) !important;
}
.card{
    background-color: var(--back-color) !important;
    box-shadow: #00D150 21px 14px 0px -7px;
    .card-title{
        color: var(--main-color) !important;
        font-family: var(--font-heading);
    }
    .card-text,.text-body-secondary{
        color: var(--card-text) !important;
        font-family: var(--font-body);
;
    }
   
}